<footer>
    <div class="container">
        <div class="social-links">
            <a href="#"><i class="fab fa-linkedin"></i></a>
            <a href="#"><i class="fab fa-github"></i></a>
            <a href="#"><i class="fab fa-twitter"></i></a>
            <a href="#"><i class="fab fa-instagram"></i></a>
        </div>
        <p>&copy; 2023 Nitta Pradeep. All rights reserved.</p>
    </div>
</footer>
<script src="/js/script.js"></script>
</body>
</html>